---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Test">
  <div class="p-10">
    <h1 class="text-4xl text-white">Test Page</h1>
    <p class="text-white mt-4">If you can see this, the basic layout is working.</p>
  </div>
</Layout>
